# MSSQL Database Configuration
SQL_SERVER_HOST=localhost
SQL_SERVER_PORT=1433
SQL_ADMIN_USER=sa
SQL_ADMIN_PASSWORD=your_password_here

# API Keys
GOOGLE_API_KEY=
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=false
